.investCont{
    margin: 0;
    padding: 0;
    padding-top: 15vh;
    font-size: calc(15px + ((4vh + 2vw) / 2));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}
.investCont h2{
    font-size: 0.55em;
}
.investCont #investText{
    font-size: 0.4em;
}
#investText span{
    color: #10b9ec;
}
.investCont .investAuth{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.investAuth .investauth{
    font-size: 0.4em;
    background-color: transparent;
    border: none;
    margin: 1vh 4vw;
    color: inherit;
    text-decoration: none;
}
.investauth span{
   color: #06a3e0;
    padding: 1vh 3vw;
    cursor: pointer;
}
.investCont .investdeposit{
    text-decoration: none;
    background-color: #10b9ec;
    padding: 1vh 4vw;
    color: inherit;
    font-size: 0.4em;
}

@media screen and (max-width: 768px){
    .investCont .investAuth{
        flex-direction: column;
        gap: 1vh;
    }
}